.siteMap {
	width: 1000px;
	height: 30px;
	margin: 0 auto;
}

.siteMap a {
	line-height: 30px;
	text-decoration: none;
	font-size: 12px;
	color: black;
	padding: 0 6px;
}

.siteMap a:hover {
	color: #0066cc;
}
.gmContextMain{
	width: 1000px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.gmcmTitle{
	width: 1000px;
	height: auto;
	overflow: hidden;
}
#minImg{
	width: 460px;
	height: 460px;
	border: 1px solid #EEEEEE;

	background-size:100% 100%;
	position: relative;
	cursor: move;
}
#minArea{
	width:264px;
	height: 264px;
	background: black;
	border: 1px solid red;
	opacity: 0.2;
	position: absolute;
	display: none;
}
#minImg span{
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size:34px ;
	color: white;
}
#maxArea{
	width: 460px;
	height: 460px;
	border: 1px solid #EEEEEE;
	position: absolute;
	overflow: hidden;
	display: none;
}
#maxImg{
	width: 800px;
	height: 800px;

	position: absolute;
}
#cfsmall{
	width: 462px;
	height: auto;
	overflow: hidden;
}
#cfsmall ul li{
	width: 58px;
	height: 58px;
	float: left;
	border: 1px solid #EEEEEE;
	margin: 3px;
	margin-top:20px;
	cursor: pointer;
}
#cfsmall ul li:hover{
	border-color:#00ACED;
}
.carouselFigure{
	width: 500px;
	height: auto;
	overflow: hidden;
	float: left;
}
.gmcmMsg{
	width: 450px;
	height: auto;
	overflow: hidden;
	float: right;
}
.gmcmMsg>div{
	padding: 5px 0;
}
.gmcmMsg label{
	width: 110px;
	display: inline-block;
	font-size: 12px;
	color: #666;
}
.gmid{
	border-bottom:1px dashed #eee ;
	margin-bottom:10px ;
}
.gmevaluate span{
	color: #FA8D14;
}
.gmactivity label{
}
.gmactivity div{
	width: 320px;
	display: inline-block;
}
.gmactivity div span{
	font-size: 12px;
	display: inline-block;
	background: #FA8D14;
	color: white;
	margin-right:10px ;
}
.gmprice label{
	color: red;
}
.gmprice span{
	font-size:24px ;
	color: red;
}
.gmvip i{
	text-decoration: line-through;
	font-style: normal;
	font-size: 12px;
	color: #666;
	
}
.gmvip span{
	background: red;
	color: white;
	padding: 3px;
	font-size: 12px;
	margin-left: 20px;
}
.gmchoice{
	width: 430px;
	height: auto;
	overflow: hidden;
	padding: 10px;
	background: #f7f7f7;
}
.gmcolor{
	height: auto;
	overflow: hidden;
	padding: 10px;
}
.gmcolor ul{
	width: 300px;
	height: auto;
	overflow: hidden;
	float: right;
}
.gmcolor li{
	width: 39px;
	height: 39px;
	border: 3px solid #ccc;
	float: left;
	margin-left: 6px;
	cursor: pointer;
	
}
.gmcolorchecked{
	border-color: red!important;
}
.gmsize{
	height: auto;
	overflow: hidden;
	padding: 10px;
}
.gmsize span{
	width: 21px;
	height: 18px;
	display: inline-block;
	border: 1px solid #999;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	margin-left: 6px;
}
.gmsize span:hover{
	color: white;
	background: #00ACED;
}
.gmsizechecked{
	color: white;
	background: #00ACED;
}
.gmcount{
	height: auto;
	overflow: hidden;
	padding: 10px;
}
.gmcount input{
	width: 29px;
	height: 25px;
	border: 1px solid #a7a6aa;
	margin-left: 6px;
}
.gmcount button{
	width: 24px;
	height: 24px;
	margin-left: 6px;
}
.gmmsg{
	height: auto;
	overflow: hidden;
	padding: 10px;
}
.gmmsg span{
	color: red;
	font-size: 12px;
}
.gmbtn {
	
}
.gmbtn input{
	width: 178px;
	height: 48px;
	background: #00ACED;
	color: white;
	font-size: 24px;
	border-radius: 5px;
	margin: 15px;
	cursor: pointer;
}
