.gradient {
	FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=##fff, endColorStr=#ebebeb);
	/*IE*/
	background: -moz-linear-gradient(top, #fff, #ebebeb);
	/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ebebeb));
	/*谷歌*/
	background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #fff), color-stop(1, #ebebeb));
	/* Safari & Chrome*/
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fff', endColorstr='#ebebeb');
	/*IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#ebebeb')";
	/* IE8 */
}