
.banner {
	width: 100%;
	height: 440px;
	clear: both;
	position: relative;
}

.bannerImg{
	width: 100%;
	height: 440px;
	overflow: hidden;
	position: absolute;
}

.bannerBtn {
	position: absolute;
	bottom: 15px;
	right: 40%;
	z-index: 1;
}

.bannerBtn1{
	width: 14px;
	height: 14px;
	background-color: #808080;
	float: left;
	margin: 5px;
}

.bannerBtnHover {
	background-color: #FA8D14!important;
}

.contextMain {
	width: 1000px;
	height: auto;
	overflow: hidden;
	margin: 5px auto;
}

.contextTitle {
	width: 1000px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #00ADEF;
}

.ctDiv {
	width: 148px;
	height: 32px;
	background: #00ADEF;
	cursor: pointer;
	color: white;
	text-align: center;
	line-height: 32px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	float: left;
}

.ctMore {
	float: right;
}

.ctMore a {
	line-height: 32px;
	margin-right: 10px;
	font-size: 12px;
	color: #666;
	text-decoration: none;
}

.contextBody {
	width: 1000px;
	height: auto;
	overflow: hidden;
}

.contextBody div {
	width: 246px;
	height: 376px;
	overflow: hidden;
	border: 1px solid #DDDDDD;
	background-color: #f8f8f8;
	float: left;
	margin: 1px;
}

.contextBody div img {
	width: 246px;
	height: 332px;
	cursor: pointer;
	transition: all 0.5s;
}
.contextBody div>img:hover{
	-webkit-transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2);

}
.contextBody .originalPrice {
	width: 144px;
	height: 45px;
	border: none;
	margin: 0px;
	float: left;
}

.contextBody .originalPrice p {
	font-size: 12px;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	letter-spacing: 1px;
	padding: 0px 8px 2px 2px;
	color: #515151;
}
.contextBody .originalPrice p a{
	text-decoration: none;
	color: #515151;
}

.contextBody .originalPrice p span {
	text-decoration: line-through;
}

.contextBody .presentPrice {
	width: 96px;
	height: 45px;
	border: none;
	text-align: center;
	font-size: 26px;
	color: #d11c2d;
	font-weight: bold;
	margin: 0px;
	float: left;
}
.contextBody .cbbanner{
	width: 100%;
	height: 370px;
}
.contextBody .cbbanner img{
	width: 100%;
	height: 100%;
}